/* Safari 4.0 - 8.0 */
@-webkit-keyframes scrollLeft {
  from {
   transform: translate(0,0);
  }
  to {
    transform: translate(-100%,0);
  }
}

@keyframes scrollLeft {
  from {
    transform: translate(0, 0);
   }
   to {
     transform: translate(-100%,0);
   }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes scrollRight {
  from {
    transform: translate(-100%,0);
   }
   to {
    transform: translate(0, 0);
   }
}

@keyframes scrollRight {
  from {
    transform: translate(-100%, 0);
   }
   to {
    transform: translate(0,0);
   }
}
